html
  head
    title My first Three.js app
    style
      canvas { width: 100%; height: 80% }
  body
    script(src='/js/three.js')
    script(src='/js/bullet.js')
    script(src='/js/monster.js')
    script(src='/js/player.js')
    script(src='/js/app.js')
